:root {
    font-family: 'Overpass';
    font-size:15px;
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--VeryDarkBlue);
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin:auto;
    background-color: var(--DarkBlue);
    border-radius: 1rem;
    width: 267px;
    height: auto;
    padding: 1.5rem;
    padding-bottom: 1.8rem;
    color: var(--White);
}

.staricon {
    padding: 0.8rem;
    border-radius: 50%;
    background-color: hsl(218, 14%, 22%);
    margin-bottom: 0.rem;
}

h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin:1rem;
    margin-left: 0;  
}

p {
    color: var(--LightGrey);
    line-height: 1.3rem;
    margin-bottom: 2rem;
    font-size:0.9rem;
}

.ratings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.ratebutton {
    color: var(--LightGrey);
    padding: 0.7rem 1.03rem;
    background-color: hsl(213, 19%, 21%);
    border-radius: 50%;
    border: none;
    font-weight: 700;
}

.submit {
    background-color: var(--Orange);
    color: var(--White);
    padding: 0.7rem;
    width: 100%;
    align-self: center; 
    border-radius: 5rem;
    border:none;
    font-family: sans-serif;
    font-size: 0.8rem;
    color: var(--White);
    letter-spacing: 2px;
}

.attribution { 
    color: var(--White);
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 376) {
    
}